<!DOCTYPE html>
<html>
<head>
    <title>Users</title>
</head>
<body>
    <ul>
        <% @users.each do |user| %>
            <li>User <%= user.id %> is <%= user.name %></li>
        <% end %>
    </ul>
</body>
</html>
